<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap@4.1.0/dist/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body ng-controller="mainController" style="margin: 2em">
    <button class="btn btn-link float-right" ng-click="logout()">
      <img
        src="assets/account-logout.svg"
        title="Log out"
        width="32"
        height="32"
      />
    </button>
    <h2 class="text-primary font-italic">Todo list</h2>
    Bonjour <span ng-bind="user" class="font-weight-bold font-italic"></span>
    <div id="todo-form">
      <form>
        <input type="text" placeholder="Écrire" ng-model="formData.todo" />
        <button type="submit" ng-click="createTodo()" class="btn btn-primary">
          Ajouter
        </button>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      </form>
    <br />Nombre de choses: {{ list.length }}
    <div id="todo-list">
      <ul style="list-style-type: none; margin: 0; padding: 0;">
        <li ng-repeat="x in list track by $index">
          <button ng-click="checkTodo(x._id)" class="btn btn-link">
            ✔
          </button>
          <button ng-click="deleteTodo(x._id)" class="btn btn-link">
            &times;</button
          ><span style="color: rgba(0, 0, 0, 0.5)" class="small"
            >({{ x.date }})</span
          >
          <input
            type="text"
            ng-model="x.todo"
            class="todo"
            ng-blur="updateTodo(x)"
            ng-style="x.done ? {'text-decoration': 'line-through', 'color': 'rgb(0,0,0,.5)'} : {}"
          />
        </li>
      </ul>
    </div>
  </body>
</html>
