<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap@4.1.0/dist/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body ng-controller="mainController" style="margin: 2em">
    <button class="btn btn-link float-right" ng-click="logout()">
      <img
        src="assets/account-logout.svg"
        title="Log out"
        width="32"
        height="32"
      />
    </button>
    <h2 class="text-primary font-italic">Todo list</h2>
    Bonjour <span ng-bind="user" class="font-weight-bold font-italic"></span>
    <hr />
    <select
      id="categories"
      ng-model="formData.category"
      class="form-control col-sm-4"
      ng-init="formData.category = 'sport'"
      ng-change="getFilteredTodos()"
    >
      <option ng-repeat="l in lists" value="{{ l }}">{{ l }}</option>
    </select>
    <br />
    <!-- <input type="text" id="category" ng-model="formData.category" /> -->
    <div id="todo-list">
      <ul style="list-style-type: none; margin: 0; padding: 0;">
        <li ng-repeat="x in filteredList track by $index">
          <button ng-click="checkTodo(x._id)" class="btn btn-link">
            ✔
          </button>
          <button ng-click="deleteTodo(x._id)" class="btn btn-link">
            &times;</button
          ><span style="color: rgba(0, 0, 0, 0.5)" class="small"
            >({{ x.date }})</span
          >
          <input
            type="text"
            ng-model="x.todo"
            class="editable"
            ng-blur="updateTodo(x)"
            ng-style="x.done ? {'text-decoration': 'line-through', 'color': 'rgb(0,0,0,.5)'} : {}"
          />
        </li>
        <div id="todo-form">
          <form class="form-row">
            <input
              class="form-control col-sm-4"
              type="text"
              placeholder="Écrire"
              ng-model="formData.todo"
            />
            <button type="submit" ng-click="createTodo()" class="btn btn-link">
              +
            </button>
          </form>
        </div>
      </ul>
    </div>
  </body>
</html>
