<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo</title>
  </head>
  <body ng-app="todoApp" style="margin: 2em">
    <h2 style="color: #373fff; font-style: italic;">Todo list</h2>
    <div ng-controller="todoList">
      <input type="text" ng-model="newTask" />
      <input type="button" value="Add task" ng-click="addTask()" />
      <input
        type="button"
        value="Remove finished tasks"
        ng-click="removeFinishedTasks()"
      />
      <br />
      <ul style="margin: 1em -2em; list-style-type: none;">
        <li ng-repeat="task in tasks track by $index">
          <input
            type="checkbox"
            name="toggleTask"
            ng-click="toggleTask($index)"
            ng-checked="task.done"
          />
          <span
            ng-style="task.done ? {'text-decoration': 'line-through', 'color': 'rgb(0,0,0,.54)'} : {}"
            contenteditable="true"
            >{{ task.title }}</span
          >
        </li>
      </ul>
    </div>
  </body>
  <script src="assets/angular.min.js"></script>
  <script src="todo.js"></script>
</html>
