<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo 1</title>
  </head>
  <body ng-app="todoApp" style="margin: 2em">
    <div ng-controller="todoList">
    <input type="text" ng-model="newTask"/>
    <input type="button" value="Add task" ng-model="addTask" ng-click="addTask()">
      <h2 style="color: #373fff; font-style: italic;">Todos</h2>
      <br />
        <ul>
          <li ng-repeat="task in tasks">
            <span>{{ task }} <input type="button" value="Done!" ng-click="deleteTask($index)"></span>
          </li>
        </ul>
        <hr>
        <ul>
          <li ng-repeat="task in deletedTasks">
            <span style="text-decoration: line-through">{{ task }}</span> <input type="button" value="Restore" ng-click="restoreTask($index)">
          </li>
        </ul>
    </div>
  </body>
  <script src="assets/angular.min.js"></script>
  <script src="todo.js"></script>
</html>
